extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +showAlertSuccess(5000)
    +showAlertError(5000)
    h1.mb-4 Chỉnh sửa tài khoản

    form(
        action=`${prefixAdmin}/accounts/edit/${account.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div.form-floating.mb-3
            input.form-control#fullName(
                type="text"
                name="fullName"
                required
                value=account.fullName
                placeholder="Họ tên"
            )
            label(for="fullName") Họ tên *
        div.form-floating.mb-3
            input.form-control#email(
                type="email"
                name="email"
                required
                value=account.email
                placeholder="Email"
            )
            label(for="email") Email *
        div.form-floating.mb-3
            input.form-control#password(
                type="password"
                name="password"
                placeholder="Mật khẩu"
            )
            label(for="password") Mật khẩu
        div.form-floating.mb-3
            input.form-control#phone(
                type="text"
                name="phone"
                value=account.phone
                placeholder="Số điện thoại"
            )
            label(for="phone") Số điện thoại
        div.mb-3(upload-image)
            label.form-label(for="avatar") Avatar
            input.form-control#avatar(
                type="file"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            if account.avatar
                img(
                    src=account.avatar
                    class="img-thumbnail mt-2 image-preview"
                    style="max-width: 120px;"
                    upload-image-preview
                )
        div.form-floating.mb-3
            select.form-select#role_id(name="role_id")
                option(disabled selected=(!account.role_id)) -- Chọn --
                each item in roles
                    option(
                        value=item.id
                        selected=(item.id == account.role_id ? true : false)
                    ) #{item.title}
            label(for="role_id") Phân quyền
        div.mb-3
            div.form-check.form-check-inline
                input.form-check-input#statusActive(
                    type="radio"
                    name="status"
                    value="active"
                    checked=(account.status == "active" ? true : false)
                )
                label.form-check-label(for="statusActive") Hoạt động
            div.form-check.form-check-inline
                input.form-check-input#statusInActive(
                    type="radio"
                    name="status"
                    value="inactive"
                    checked=(account.status == "inactive" ? true : false)
                )
                label.form-check-label(for="statusInActive") Dừng hoạt động
        div
            button.btn.btn-primary(type="submit") Cập nhật
