extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/alert.pug

block main
  +showAlertSuccess(5000)
  +showAlertError(5000)
  h1(class="mb-4") Danh mục sản phẩm
  
  .card.mb-3 
    .card-header Bộ lọc và tìm kiếm
      .card-body 
        .row 
          .col-6
            .btn-group
              +filterStatus(buttonStatus)
          .col-6 
            +search(keyword)

  .card.mb-3
    .card-header Sắp xếp
      .card-body
        .row
          .col-4
            div(sort)
              select(
                class="form-control"
                name="sort"
                sort-select
              )

                option(value="position-desc") Vị trí giảm dần
                option(value="position-asc") Vị trí tăng dần
                option(value="title-asc") Tiêu đề A - Z
                option(value="title-desc") Tiêu đề Z - A

              button(
                class="btn btn-danger mt-2"
                sort-clear
              ) clear
  .card.mb-3
    .card-header Danh sách
    .card-body
      .row.align-items-center
        .col
          +formChangeMulti(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
        .col-auto.text-end
          a(
            href=`${prefixAdmin}/products-category/create`
            class="btn btn-outline-success"
          ) + Thêm mới
          br
          br

      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(
                type='checkbox'
                class='form-check-input'
                name="checkAll"
              )
            th STT
            th Hình ảnh
            th Tiêu đề
            th Vị trí
            th Trạng thái
            th Hành động

        tbody
          each item, index in records
            tr
              td 
                input(
                  type='checkbox'
                  class='form-check-input'
                  name='ids'
                  value=item._id
                )
              td #{index + 1}
              td
                .product-thumbnail(
                  style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; overflow: hidden; background: #ffffff; border-radius: 6px;"
                )
                  img(
                    src=item.thumbnail
                    alt=item.title
                    style="max-width: 100%; max-height: 100%; object-fit: contain;"
                  )
              td #{item.title}
              td
                input(
                  type="number"
                  value=item.position
                  class="form-control form-control-sm"
                  style="width: 50px;"
                  min="1"
                  name="position"
                )
              td
                if (item.status === "active")
                  a(
                    href="javascript:;"
                    class="badge text-bg-success rounded-pill"
                    data-status="active"
                    data-id=item.id
                    button-change-status
                  ) Hoạt động
                else
                  a(
                    href="javascript:;"
                    class="badge text-bg-danger rounded-pill"
                    data-status="inactive"
                    data-id=item.id
                    button-change-status
                  ) Dừng hoạt động
              td
                a(
                  class="btn btn-info btn-sm"
                  href=`${prefixAdmin}/products-category/detail/${item.id}`
                ) Chi tiết
                a(
                  class="btn btn-warning btn-sm ms-1"
                  href=`${prefixAdmin}/products-category/edit/${item.id}`
                ) Sửa
                button(
                  type="button"
                  class="btn btn-danger btn-sm ms-1"
                  button-delete
                  data-id=item.id
                ) Xóa
  +pagination(pagination)
  form(
    id='form-change-status'
    action=``
    method='POST'
    data-path=`${prefixAdmin}/products-category/change-status`
  )
  form(
    id='form-delete-product'
    action=``
    method='POST'
    data-path=`${prefixAdmin}/products-category/delete-productCategory`
  )
  script(src="/admin/js/product.js") 