extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    +showAlertSuccess(5000)
    +showAlertError(5000)
    .container.my-3
        .row
            .col-8.mx-auto
                +box-head(title)

                form(
                    action="/user/password/otp"
                    method="POST"
                )
                    div(class="mb-3")
                        label(for="email" class="form-label") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            readonly
                            value=email
                        )
                    div(class="mb-3")
                        label(for="otp" class="form-label") Mã OTP
                        input(
                            type="text"
                            class="form-control"
                            id="otp"
                            name="otp"
                            required
                        )
                    div(class="mb-3")
                        button(
                            type="submit"
                            class="btn btn-primary w-100"
                        ) Xác thực
